* {
    border:none;
    
}
body {
    background-color: brown;
}

#game {
    width: 75%;
    height: 50px;
    background-color: aqua;
    align-items: center;
    
}

#scoreboard {
    width: 50%;
    height: 2em;
    background-color: red;
    text-align: center;
    padding: 2em;
    display: flex;
}

.button {
    border: none;
    text-align:center
}

#result {
    height: 2em;
    width: 80%;
    font-size: 20px;
    text-align: center;
}
  